<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-Thirdparty" version="0.0.1"
		 xmlns="http://apache.org/cordova/ns/plugins/1.0"
	     xmlns:android="http://schemas.android.com/apk/res/android">
     <name>ThirdPlugin</name>
     <description>Third-plugin</description>
     <js-module name="ThirdPlugin" src="www/ThirdPlugin.js">
     	<clobbers target="thirdPlugin"/>
 	 </js-module>
 	 <!-- android -->
 	 <platform name="android">
 	 	 <config-file parent="/*" target="res/xml/config.xml">
 	 	 	 <feature name="ThirdPlugin">
 	 	 	 	<param name="android-package" value="com.zjweitong.ThirdPlugin"/>
 	 	 	 </feature>
 	 	 </config-file>
 	 	  <source-file src="src/android/ThirdPlugin.java" target-dir="src/com/zjweitong"/>
 	 </platform>